.login-ctn {
  background: var(--login-background);
  background: var(--ion-background);
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-size: cover;

  .title-row {
    top: 15%;
    left: 50%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;

    .logo {
      max-width: var(--login-logo-xl-width);
      min-height: var(--login-logo-xl-height);
      margin-bottom: 10px;
    }
  }

  .arrow-clr {
    color: #fff;
  }

  .back-icon-mob {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;

    .back-text {
      margin-bottom: 4px;
      margin-left: 2px;
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 18.9px;
      text-align: left;
      color: #fff !important;
    }
  }

  .login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 62%;
    left: 52%;
    transform: translate(-53%, -50%);

    .login-form-page {
      display: flex;
      flex-direction: column;
      align-items: center;

      .MuiFormHelperText-root.Mui-error {
        font-size: 11px;
        margin-top: 5px !important;
      }
      @media screen and (max-width: 720px) {
        .MuiFormHelperText-root.Mui-error {
          font-size: 11px;
          margin-top: 0px !important;
        }
      }
    }
  }

  .socialmedia-parent {
    margin-top: 32%;

    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  .disclaimer-content {
    display: flex;
    justify-content: center;
    font-family: General Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 17.56px;
    text-align: center;
    margin-top: 5px;
    color: #ffffff;

    @media screen and (max-width: 720px) {
      display: none;
    }

    .disclaimer-width {
      width: 30%;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .login-ctn {
    // background: url('../../assets/images/common/abc.png');
    background: var(--ion-background);
    // background-position-y: center !important;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;

    .bottom-line {
      padding-top: 8px;
    }

    .title-row {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .login-card {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 600px) {
  .login-ctn {
    background-image: var(--login-mob-background) !important;
    // background: var(--ion-background) !important;
    background-color: #26133f;
    // background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;

    .title-row {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .login-card {
      position: absolute;
      top: 40%;
      left: 0;
      transform: translate(0%, -50%);
    }
  }
}

@media only screen and (device-width: 360px) {
  .login-ctn {
    // background: url('../../assets/images/common/abcsmall.png');
    background-image: url("../../assets/images/banners/signup-mob-bg.webp") !important;
    background-color: #26133f;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;

    .title-row {
      position: absolute;
      top: 16%;
    }

    .login-card {
      position: absolute;
      top: 35%;
    }
  }
}
