:root {
  --table-head-border-radius: 15px;
}

.txt-bldin-mob {
  font-weight: 900 !important;
}

.date-picker-keyboard-icon {
  margin-right: 5px;
}

.reports-ctn {
  margin: 0 !important;
  padding: 0 !important;
}

.popover-content {
  max-width: 160px !important;
  border-radius: 16px !important;

  @media screen and (max-width: 720px) {
    max-width: 190px !important;
  }
}

.my-bets-ctn-col {
  padding: 0;
}

.my-bets-no-data-row {
  border-radius: 30px !important;
  color: var(--custom-table-body-color);
  background: var(--custom-table-body-row);
  border: 1px solid var(--custom-table-body-border);
}

.MuiTableCell-root {
  padding: 10px;
}

.sports-filters-row-ctn {
  width: 100%;

  .sports-filters-row {
    display: flex;
    justify-content: flex-start;
    padding: 6px;
    padding-bottom: 0;
    margin-right: 40px;

    .primary {
      color: #000;
      border-color: #fff;
      background: var(--ion-color-primary);
    }

    .secondary {
      color: #fff;
      border-color: #fff;
    }

    .MuiButtonBase-root {
      margin-right: 0;
      padding: 7px;
      width: 92px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      border-radius: 20px;

      .MuiButton-label {
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
      }

      @media screen and (max-width: 720px) {
        width: 24%;
        height: fit-content;
        padding: 7px;
        margin: 5px 0px;
        margin-right: 10px;
      }
    }

    @media screen and (max-width: 720px) {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.my-bets-page {
  border-radius: 13px;
  margin: 12px 24px;
  min-height: 85vh;
  padding: 16px 12px;
  background: var(--background-ctn-gradient);

  @media screen and (max-width: 720px) {
    background: transparent;
    border-radius: 0px;
    margin: 0px;
    padding: 0 8px;
  }

  .MuiIconButton-root {
    padding: 0 !important;
  }
}

.my-bets-ctn {
  .text-light {
    color: white;
  }

  .text-dark {
    color: #000000;
  }

  .text-light {
    color: white;
  }

  .filters-ctn-web {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    .myb-btn-games,
    .myb-btn-filter {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      box-sizing: border-box;
      margin: 0 5px;
      color: var(--ion-text-color);

      ion-select {
        font-size: 12px;
        color: #fff;
        height: 30px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 160px;
        margin-left: 4px;
      }
    }

    .myb-date-div {
      display: flex;
      align-items: center;
      margin-left: 5px;
      flex-wrap: wrap;

      .MuiFormControl-marginNormal {
        margin-top: 0px;
        margin-bottom: 0px;
        background: transparent !important;
        border-radius: 20px;
        border: 1px solid #fff;
        height: 36px;
        width: 160px;
        margin-left: 4px;
      }

      .myb-date-label {
        color: #fff;
      }
    }
  }

  .img-page-title-row {
    margin-top: 13px;
    margin-bottom: 1px;

    @media screen and (max-width: 1120px) {
      margin-top: 7px;
      align-items: center !important;
    }
  }

  .my-bets-content {
    background-color: transparent !important;
  }

  .sports-filters-row-web-ctn {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .filters-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

    .filters {
      display: inline-flex;
    }
  }

  .myb-table-cell.td-match {
    .event-link {
      white-space: pre-wrap;
    }
  }

  .myb-table-cell.td-market {
    .event-link {
      white-space: pre-wrap;
    }
  }

  .td-bet-on {
    white-space: pre-wrap !important;
  }

  .text-bold {
    font-weight: 600 !important;
  }

  .date-control {
    width: 160px;

    .MuiInputBase-input {
      font-size: 12px;
      color: #ffffff;
    }

    .MuiSvgIcon-root {
      color: #ffffff;
    }
  }

  .myb-table-row {
    .MuiTableCell-body {
      cursor: default;
      border: 1px solid #e0e0e0;

      .event-link {
        cursor: pointer;
      }
    }
  }

  .myb-btn-next {
    margin-top: 15px;
  }

  .myb-btn-prev {
    margin: 15px;
  }

  .no-bets-msg {
    width: 100%;
    color: var(--custom-table-body-color);
    display: flex;
    padding-left: 15px;
    font-family: var(--headers-font-family);
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    text-align: left;
    align-items: center;
    background: var(--custom-table-body-row);
  }

  .myb-error-alert {
    margin: 16px 0;
    background-color: #f7564a;
    padding: 16px 10px;
    color: white;
    border-radius: 8px;
  }

  .bet-badge {
    display: flex;
    width: fit-content;
    font-size: 8px;
  }
}

@media (min-width: 721px) {
  .my-bets-ctn {
    .MuiTableCell-head {
      padding: 6px !important;
    }

    .mob-view {
      display: none;
    }

    .web-view {
      display: initial;
    }

    .bets-tab-ctn {
      display: inline-flex;
      margin-top: 20px;

      .open-bets-tab,
      .close-bets-tab {
        color: rgba(0, 20, 61, 0.6);
        text-transform: uppercase;
        margin-right: 30px;
        word-spacing: 0.8px;
        font-weight: 600;
        font-style: Inter;
        cursor: pointer;
      }

      .open-bets-tab:hover,
      .close-bets-tab:hover {
        color: rgba(0, 20, 61, 1);
      }

      .active {
        border-bottom: 2px solid var(--ion-color-primary);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .myb-bets-div {
    .myb-date-div,
    .myb-btn-games,
    .myb-btn-filter {
      width: 170px;
    }

    .myb-btn-games,
    .myb-btn-filter {
      ion-select {
        height: 36px;

        .select-icon {
          margin-right: -8px;
          background-color: transparent;
        }
      }
    }

    .myb-date-div {
      .MuiFormControl-marginNormal {
        margin-top: 0px;
        margin-bottom: 0px;
        background: transparent !important;
        border-radius: 20px;
        border: 1px solid #fff;
        height: 36px;
        width: 160px;
        margin-left: 4px;
      }
    }

    .tbl-ctn {
      .MuiTableCell-root {
        padding: 14px;
      }
    }

    .myb-date-label {
      color: #fff;
    }
  }

  .my-bets-ctn {
    margin-top: 0 !important;

    .web-view {
      display: none;
    }

    .filters-ctn-web {
      display: none;
    }

    .header-ctn,
    .page-title {
      padding-bottom: 0;
      margin-top: 0 !important;

      .img-page-title-row {
        margin-left: 5px;
      }

      .filters-row {
        margin-bottom: 0;
        flex-direction: column;
      }
    }

    .filters-row {
      margin-top: 0px;

      .filters {
        display: flex;
        justify-content: center;

        .myb-btn-filter,
        .myb-btn-games {
          flex: 1;

          ion-select {
            color: #fff;
            height: 48px;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 100px;
            border: 1px solid #fff;
            flex: 1;
            margin: 4px;
            background: transparent !important;
          }
        }

        .myb-date-div {
          flex: 1;

          .myb-date-label {
            color: #fff;
          }

          .date-control {
            margin-top: 4px;
            width: 96%;
            background-color: transparent !important;
            border-radius: 20px;
            border: 1px solid #fff;
          }
        }
      }
    }

    .sports-filters-row {
      justify-content: space-between;

      .MuiButtonBase-root {
        margin-right: 0;
        font-size: 10px;
        font-weight: 400;
        min-width: 23.8%;
        max-width: 23.8%;
        border-radius: 16px;
      }
    }

    .myb-bets-div {
      .myb-date-div,
      .myb-btn-games,
      .myb-btn-filter {
        width: 170px;
      }

      .myb-btn-games,
      .myb-btn-filter {
        ion-select {
          height: 36px;

          .select-icon {
            margin-right: -8px;
          }
        }
      }

      .myb-date-div {
        .MuiFormControl-marginNormal {
          height: 36px;
        }
      }

      .tbl-ctn {
        .MuiTableCell-root {
          padding: 4px 10px;

          &:nth-child(2) {
            border-radius: 10px 0 0 10px;
          }
        }
      }
    }

    .filters-row {
      margin-top: 0px !important;
      flex: 1;

      .filters {
        flex: 1;
      }
    }

    .tbl-ctn .MuiPaper-root {
      margin-top: 0px;
    }

    .th-match {
      border-top-left-radius: var(--table-head-border-radius);
      border-bottom-left-radius: var(--table-head-border-radius);
    }

    .th-returns {
      border-top-right-radius: var(--table-head-border-radius);
      border-bottom-right-radius: var(--table-head-border-radius);
    }

    // Show few 4 columns in mobile view
    .my-bets-tbl {
      .th-date,
      .th-market-type,
      .th-match-date,
      .th-bet-on,
      .th-outcome,
      .th-commission,
      .th-empty,
      .th-amt,
      .th-expand-action,
      .th-type,
      .th-market {
        display: none;
      }

      .td-expand-action,
      .td-date,
      .td-market,
      .td-bet-on,
      .td-outcome,
      .td-commission,
      .td-empty {
        display: none;
      }

      .td-odd,
      .td-stake {
        text-align: center;
      }

      .col-data-header {
        font-weight: 600;
        font-family: "Lato";
        font-size: 13px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .col-data-desc {
        font-size: 11px;
        opacity: 0.8;
        padding-top: 4px;
      }
    }
  }
}

.report-sidebar-ctn {
  padding: 0;
}

@media screen and (min-width: 800px) {
  .my-bets-tbl {
    .th-amt-mob,
    .th-outcome-mob {
      display: none;
    }
  }
}

.myb-table-row {
  .transaction-type {
    border-radius: 100px;
  }
}

@media screen and (max-width: 720px) {
  .th-event-type-th {
    border-radius: 100px 0px 0px 100px !important;
    border-left: 1px solid var(--table-head-cell-border) !important;
  }

  .market-name {
    font-family: var(--headers-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    text-align: left;
    color: #000;
  }

  .market-type {
    font-family: var(--headers-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    text-align: left;
    color: #000;
  }

  .amnt {
    font-family: var(--headers-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    text-align: left;
    color: #000;
  }

  .webView {
    display: none !important;
  }

  .border-top {
    border-top: 1px solid #e0e0e0;
    width: 110%;
    margin-left: -11px;
  }

  .border-top-right {
    border-top: 1px solid #e0e0e0;
    width: 110%;
    margin-left: -11px;
    margin-top: 17px;
  }

  .match-name-span {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    text-wrap: wrap;

    .date-span {
      font-family: var(--headers-font-family);
      font-size: 12px;
      font-weight: 400;
      line-height: 16.2px;
      text-align: left;
      color: #000;
    }

    .transaction-name {
      display: block;
      max-width: 90px;
      text-wrap: nowrap;
      width: 90px;
    }
  }

  .first-cell {
    border-radius: 8px 0px 0px 8px !important;
  }

  .last-cell {
    border-radius: 0px 8px 8px 0px !important;
  }

  .mb-result {
    display: none !important;
  }
}

@media screen and (min-width: 720px) {
  .th-event-type-th {
    display: none !important;
  }

  .mobView {
    display: none !important;
  }

  .th-outcome {
    border-radius: 0px 100px 100px 0px;
  }
}

.my-bets-page {
  .mb-event-name-date {
    padding: 5px;
  }

  .profit-bet {
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #2c8900;
  }

  .loss-bet {
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(193, 9, 9);
  }

  .none-bet {
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
  }

  .mb-amount-odd {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
  }

  .mb-bet-date {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .b-400 {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .b-500 {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    text-wrap: nowrap;
  }

  .b-700 {
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .display-flex {
    display: flex;
  }

  .mb-profit-amount {
    border: 4px solid #b2d9ff !important;
  }

  .mb-loss-amount {
    border: 4px solid #ffc3dc !important;
  }
}

.space-down {
  margin-bottom: 8px !important;
}
