.acc-stmt-ctn {
  margin: 12px 24px;
  padding: 16px 12px;
  border-radius: 13px;
  background: var(--background-ctn-gradient);
  min-height: 85vh;
  margin-bottom: 18px;

  @media screen and (max-width: 720px) {
    background: transparent;
    padding: 0px;
    margin: 8px;
    min-height: 90vh;
  }

  .mob-view-acc-stmt {
    @media screen and (min-width: 720px) {
      display: none !important;
    }
  }
}

.arrow-up {
  transform: rotate(270deg);
  transform-origin: center;
}

.acnt-statement-row-cell {
  text-align: center;
}

.lower-row {
  padding: 5px 0px;
  .credit-profit {
    color: green;
  }
  .credit-loss {
    color: red;
  }
}

.popover-content {
  max-width: 160px !important;
  border-radius: 16px !important;

  @media screen and (max-width: 720px) {
    max-width: 190px !important;
  }
}

.mob-px-0 {
  @media screen and (max-width: 920px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.account-summary-ctn {
  .img-page-title-row {
    margin-top: 14px;
    margin-bottom: 7px;
  }

  .user-stmnt-filters-row {
    display: flex;
    margin-left: 6px;
    justify-content: flex-end;

    .from-date-filter,
    .trans-type-filter {
      margin-right: 0;
    }

    .from-date-filter,
    .to-date-filter,
    .trans-type-filter {
      width: 200px;
    }

    .trans-type-filter .select-label {
      margin-bottom: 4px;
    }

    .MuiInputBase-root {
      background: var(--ion-card-background-contrast);
      border-radius: 6px;
      height: 46px;
      padding-left: 4px;
      padding-right: 4px;
      color: var(--ion-text-color-contrast);
    }

    .MuiFormControl-marginNormal {
      margin-top: 4px;
    }

    .MuiSvgIcon-root {
      color: var(--ion-text-color-contrast);
    }
  }

  .content-ctn {
    padding: 0;
    background-color: transparent;

    .tab-items {
      margin-top: 12px;

      .MuiTab-root {
        min-width: 74px;
        text-transform: none;
        font-size: 16px;
      }

      .Mui-selected {
        .MuiTab-wrapper {
          color: var(--ion-color-primary);
        }
      }

      .MuiTabs-root {
        border-bottom: 1px solid rgba(var(--ion-text-color-contrast-rgb), 0.1);
        width: 100%;
      }
    }

    .tbl-paceholder {
      margin-top: 40px;
    }

    .MuiTable-root {
      border-collapse: separate;
      border-spacing: 0 2px;

      @media screen and (max-width: 720px) {
        .MuiTableHead-root {
          .MuiTableRow-root {
            .MuiTableCell-root {
              border: 1px solid var(--table-head-cell-border) !important;
            }
          }
        }
      }

      .MuiTableRow-root {
        .MuiTableCell-root {
          text-transform: uppercase;
          font-weight: 400;
          padding: 0px;

          &:first-child {
            border-radius: 30px 0 0 30px;
            text-align: center;
          }

          &:last-child {
            border-radius: 0px 30px 30px 0px;

            @media screen and (max-width: 720px) {
              border-radius: 0 10px 10px 0;
            }
          }
        }

        .no-data-row {
          border-radius: 30px !important;
        }
      }

      .myb-table-body {
        background-color: transparent !important;

        .MuiTableCell-root {
          background-color: white;
        }

        .br-10 {
          @media screen and (max-width: 720px) {
            border-radius: 10px 0px 0px 10px;
          }
        }
      }
    }
  }

  .th-event-name,
  .td-event-name {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .td-market-name,
  .td-bet-on {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .as-view-more-btn {
    .MuiSvgIcon-root {
      color: var(--ion-text-dark);
      font-size: large;
    }
  }

  .led-btn-next {
    margin-top: 15px;
  }

  .led-btn-prev {
    margin: 15px;
  }
}

@media only screen and (min-width: 721px) {
  .account-summary-ctn {
    .content-ctn {
      .uuser-stmnt-filters-row {
        justify-content: flex-start;
      }

      .mobile-view-summary {
        display: none !important;
      }
    }

    .mob-view {
      display: none !important;
    }

    .web-view {
      display: initial;
    }
  }
}

@media only screen and (max-width: 720px) {
  .account-summary-ctn {
    margin-top: 0 !important;

    .MuiTableBody-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          border-bottom: 1px solid #d9d9d9 !important;
        }
      }
    }

    .user-stmnt-filters-row {
      width: 100%;
    }

    .account-date-filters {
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 10px;
      gap: 7px;

      .from-date-filter,
      .to-date-filter {
        max-width: 100% !important;
        width: unset;
      }
    }

    .header-ctn {
      ion-row {
        justify-content: space-between;
      }

      .img-page-title-row {
        align-items: center;
        width: 100%;
      }
    }

    .mob-view {
      display: initial;

      .trans-type-filter {
        width: 100%;
        padding-left: 10px;
      }

      .mob-col-section {
        display: inline-flex;
        align-items: center;

        .transacction-img {
          background: var(--ion-background);
          border-radius: 25%;
          font-size: 8px;
          text-align: center;
          margin-right: 10px;
          border-radius: 50%;
          display: inline-block;
          padding: 10px;

          .img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .web-view {
      display: none;
    }

    .user-stmnt-filters-row {
      margin-left: 0;

      .from-date-filter,
      .to-date-filter {
        max-width: 160px;
      }
    }

    .content-ctn {
      .uuser-stmnt-filters-row {
        justify-content: flex-start;
      }

      .mobile-view-summary {
        display: none !important;
      }

      .web-view-summary {
        display: none !important;
      }

      .mobile-view-summary {
        ion-row {
          margin-top: 6px;
          margin-bottom: 6px;
        }

        .points-toggle-row {
          display: flex;
          width: 100%;
          justify-content: center;
        }

        .summary-expand-toggle {
          text-align: center;

          .summary-expand-toggle-btn {
            color: var(--ion-text-color);
            text-transform: none;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.02em;
            height: 20px;

            ion-icon {
              color: var(--ion-text-color);
              height: 18px;
            }
          }
        }
      }

      .MuiTabs-root.matches-type {
        min-height: 32px;

        .MuiTab-root {
          min-height: 32px;
          padding: 0;
          min-width: 40px;
          margin-left: 6px;
          margin-right: 6px;
        }
      }

      .text-elips {
        max-width: 184px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .date-col,
      .transaction-id,
      .hid-mob {
        display: none;
      }

      .MuiTableCell-root {
        padding: 12px;
      }
    }
  }
}

@media only screen and (max-width: 721px) {
  .MuiDialog-root .MuiDialog-container .MuiDialog-paper .MuiDialogContent-root {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .status-cell,
  .installments-cell,
  .turnover-cell,
  .awarded-amy-cell,
  .awarded-date-cell,
  .approval-req-cell {
    display: none !important;
  }
}

.account-statement-sidebar {
  .MuiFormControl-root {
    width: 100%;
  }

  .eventTypes-menu-nav-link {
    background: var(--ion-background);
    border: 2px solid var(--ion-primary-border-color);
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.active {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: var(--sidebar-active-link-color);
      // border-bottom: 0;
    }

    .MuiButtonBase-root {
      padding: 12px;
      width: 100%;

      .MuiButton-label {
        color: var(--ion-text-light);
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .MuiTab-wrapper {
      color: var(--ion-text-light);
    }
  }

  .competitions-menu-tabs {
    max-height: 40vh;
    border: 2px solid var(--ion-primary-border-color);
    border-top: 0;
    border-radius: 0 0 10px 10px;
    margin-bottom: 12px;
    padding: 0 12px;

    .MuiButtonBase-root {
      opacity: 1;
      border-bottom: 1px solid var(--ion-primary-border-color);
      max-width: unset;

      &.active {
        .MuiTab-wrapper {
          color: var(--ion-text-light);
          opacity: 1;
        }
      }
    }

    .MuiTab-wrapper {
      color: var(--ion-text-light);
      align-items: flex-start;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      opacity: 0.6;
    }

    .eventTypes-menu-nav-link,
    .competitions-menu-nav-link {
      text-decoration: none;
      color: #f6f6f6; // var(--ion-text-color-contrast);

      &.inplay {
        margin-bottom: 12px;
      }

      &.active {
        background: var(--sidebar-active-link-color);
        margin-bottom: 0;
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 2px solid var(--ion-primary-border-color);
        border-bottom: 0;

        &.inplay {
          border: 2px solid var(--ion-primary-border-color);
          border-radius: 8px;
          margin-bottom: 12px;
        }

        .active {
          border: unset;
        }

        .expand-icon {
          transform: rotate(180deg);
        }

        // color: var(--ion-color-primary-contrast);
      }

      .eventTypes-menu-tab,
      .competitions-menu-tab {
        opacity: 1;
        min-width: 40px;
        // max-width: 220px;
        text-align: left;
        text-transform: none;
        font-family: "Lato";
        font-style: normal;
        letter-spacing: 0.01em;
      }

      .eventTypes-menu-tab {
        min-height: 53px;
        padding: 10px 18px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

        &.flashing-text {
          font-weight: bolder;
          font-size: 15px;
          filter: brightness(125%);
          animation-name: flashing-text;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }

        &.color-change {
          font-weight: bolder;
          font-size: 15px;
          filter: brightness(125%);
          animation-name: color-change !important;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }

      .competitions-menu-tab {
        min-height: 26px;
        max-height: 30vh;
        padding: 10px 18px;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

        .MuiTab-wrapper {
          margin: 9px 0 5px 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .eventTypes-menu-nav-link {
      background: var(--ion-background);
      border: 2px solid var(--ion-primary-border-color);
      border-radius: 8px;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .expand-icon {
        height: 10px;
        width: 10px;
        margin-right: 12px;
      }

      .MuiTab-wrapper {
        text-transform: capitalize;
      }

      &:hover {
        // background: var(--ion-background-secondary);
        color: #f6f6f6;
      }
    }

    .competitions-menu-nav-link {
      // background: var(--ion-background-secondary);
      border-bottom: 1px solid var(--ion-primary-border-color);

      &:hover {
        background: var(--ion-background);
        color: #f6f6f6;
      }
    }

    .competitions-menu-nav-link:last-child {
      border-bottom: unset;
    }
  }

  .show-web-view {
    @media screen and (max-width: 720px) {
      display: none;
    }
  }
}

.acc-stmt-ctn {
  .back-ctn {
    background-color: transparent;
    margin: 20px;
  }

  @media screen and (max-width: 720px) {
    margin: 0 8px;

    .reports-ctn
      .content-ctn
      .tbl-ctn
      .MuiTableContainer-root
      .MuiTable-root
      .MuiTableHead-root
      .MuiTableCell-head {
      text-align: center;
    }

    .account-summary-ctn .content-ctn .MuiTable-root .myb-table-body .br-10 {
      text-align: center;
    }
  }

  @media screen and (max-width: 1250px) {
    .wct-ctn {
      width: 100%;
      overflow-x: scroll;

      .wct {
        width: 150%;

        .wct-h-c {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .wct-ctn {
      width: 100%;
      overflow-x: scroll;

      .wct {
        width: 200%;

        .wct-h-c {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .as-date-param {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .as-pagination {
    display: flex;
    align-items: center;
    margin: 5px;

    .as-page-btn {
      margin: 2px;
      color: var(--custom-btn-text-variant-1);
      border-radius: 5px;
      padding: 5px 10px;
      background: var(--custom-btn-bg-variant-1);
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.arrow-left {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.as-ctn {
  .wct-ctn {
    .wct {
      .wct-b {
        .as-loss {
          border: 4px solid #ffc3dc;
        }

        .as-profit {
          border: 4px solid #b2d9ff;
        }
      }

      .wct-sh {
        background: var(--table-subheader-bg);
        border: 1px solid var(--table-head-cell-border);
        color: var(--table-subheader-text);
        font-size: 13px;
        font-weight: 600;
        margin: 0px;
      }
    }
  }

  .credit-profit {
    color: green;
  }

  .credit-loss {
    color: red;
  }
}

.arrow {
  border: solid var(--arrow-color);
  border-width: 0 2px 2px 0;
  padding: 2px;
  display: flex;
  align-items: center;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.as-mob-popup {
  .wct {
    width: 100%;

    .wct-h {
      width: 251%;
    }

    .wct-b {
      width: 251%;

      .wct-b-c0 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.acc-statement-modal {
  .MuiDialogTitle-root .MuiTypography-root {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 920px) {
  .acc-statement-modal {
    .MuiDialogTitle-root {
      padding: 12px 24px;
      .MuiTypography-root {
        font-size: 16px !important;
      }
    }
    .MuiPaper-root {
      height: fit-content;
      max-height: 80vh;
      padding-bottom: 8px;
      margin: 8px;

      .modal-title .MuiTypography-root {
        font-size: 14px !important;
      }

      .MuiButtonBase-root {
        padding: 0;
      }

      .MuiDialogTitle-root {
        height: fit-content !important;
        padding: 16px;
      }
    }
  }
}

.transaction-details-card-modal {
  .MuiPaper-root {
    max-width: 600px;
    width: 90%;
    margin: 16px;
  }

  .modal-content-ctn {
    padding: 0 !important;
  }

  @media screen and (max-width: 768px) {
    .MuiPaper-root {
      width: 95%;
      margin: 8px;
    }
  }
}

.arrow-btn {
  background-color: transparent;
}

.capitalize {
  text-transform: capitalize;
}
