.home-away-team {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
  line-height: normal;
  .team-names {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
    color: var(--table-cell-text);
    font-weight: 700;
    font-size: 12px;

    @media screen and (max-width: 580px) {
      width: auto;
      font-size: 12px;
    }
  }
  .live-img-display {
    position: unset;
    height: 12px;
    margin: 0;
    width: 24px;
  }
  .flex-team {
    display: flex;
    gap: 6px;
  }
  .upcoming-badge {
    background: var(--ion-color-primary);
    color: var(--active-text-color);
    font-size: 8px;
    margin-top: 3px;
    padding: 2px 4px;
    border-radius: 3px;
    position: relative;
    right: 6px;
    font-weight: bold;
  }
  .date {
    font-weight: 500;
    font-size: 10px;
  }
}
