.mct-ctn {
  .mct {
    .mct-h {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 32px;
      background: var(--head-bg);
      border-radius: 20px;
      border: 1px solid var(--table-head-cell-border);
      overflow: hidden;
      margin: 4px 0px;

      .mct-h-c {
        color: white;
        text-transform: uppercase;
        font-family: "Lato";
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.02em;
        border-left: 1px solid var(--table-head-cell-border);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      :first-child {
        border-radius: 20px 0px 0px 20px;
      }

      :last-child {
        border-radius: 0px 20px 20px 0px;
      }
    }

    .mct-b {
      .mct-b-r {
        background: var(--custom-table-body-row);
        color: var(--custom-table-body-color);
        // max-height: 100px;
        overflow: hidden;
        border-radius: 15px;
        margin: 2px 0px;
        border: 1px solid;

        .mct-b-sr1 {
          display: flex;
          height: 50%;

          .mct-b-c {
            border: 1px solid var(--custom-table-body-border);
            font-size: 12px;
            text-align: center;
          }
        }

        .mct-b-sr2 {
          display: flex;
          height: 50%;

          .mct-b-c {
            border: 1px solid var(--custom-table-body-border);
            font-size: 12px;
            text-align: center;
          }
        }
      }

      .as-loss {
        border: 2px solid #ffc3dc;
      }

      .as-profit {
        border: 2px solid #b2d9ff;
      }

      .mct-b-no-data {
        height: 32px;
        background: var(--custom-table-no-data-bg);
        color: var(--custom-table-no-data-text);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid var(--custom-table-no-data-border);
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
