.change-pwd-form-ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

  .change-password-title {
    display: none;
  }

  @media screen and (max-width: 768px) {
    margin-top: 8px;

    .change-password-title {
      font-weight: 600;
      font-size: 18px;
      text-align: left;
      color: var(--ion-color-primary);
      width: 100%;
      display: flex;
      align-items: center;

      .change-pwd-icon {
        padding-right: 4px;
      }
    }
  }

  .usr-input,
  .pwd-input {
    display: inline-grid;
    margin-top: 16px;
    width: 100%;

    .input-label {
      display: flex;
      align-items: center;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0;
  }

  .MuiInputBase-root .MuiFormControl-root,
  .MuiOutlinedInput-root {
    background: #eaeef3 !important;
    border-radius: 10px;
  }

  .cp-input .MuiInputBase-input {
    background: #eaeef3;
    border: 0;
    border-radius: 10px;
  }

  .submit-form-btn {
    // margin-top: 20px !important;
    margin-bottom: 20px;
    width: 100%;
    color: var(--ion-text-light);
    height: 48px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    line-height: 19px;
    background: var(--ion-color-primary);

    @media screen and (max-width: 768px) {
      border-radius: 8px;
    }

    &:hover {
      background: var(--ion-color-primary);
    }

    .MuiButton-label {
      color: var(--ion-text-light);

      &:hover {
        background: var(--ion-color-primary);
      }
    }
  }

  .accept-terms-input {
    padding-top: 14px;
    // max-width: 341px;

    .MuiFormControlLabel-root {
      margin-left: 0px;
      margin-right: 0px;
      align-items: flex-start;

      .MuiFormControlLabel-label {
        margin-left: 10px;
        color: var(--ion-text-color);
      }
    }

    .MuiFormHelperText-root {
      color: red;
    }

    .accept-terms-checkbox {
      color: var(--ion-text-color) !important;
      position: relative !important;
    }
  }
}

.error-msg {
  color: var(--ion-color-danger);
  margin-top: 20px;
  text-align: center;
}

.success-msg {
  color: var(--ion-color-success);
  margin-top: 20px;
  text-align: center;
}

.user-name,
.pwd-field {
  // max-width: 341px;
  height: 48px;
}

.input-tooltip {
  color: var(--ion-text-color);
  font-size: 20px;
  padding-left: 4px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .user-name,
  .pwd-field,
  .submit-form-btn {
    max-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .user-name,
  .pwd-field,
  .submit-form-btn {
    max-width: 100%;
  }
}

.cp-ctn {
  width: 100%;
  margin-top: 20px;

  .cp-input-template {
    color: white;
    margin: 20px 0px;
    position: relative;

    .cp-label {
      width: 200px;
      text-transform: capitalize;
      padding: 0px 0px 0px 15px;
      border-radius: 30px;
      border: 1px solid var(--input-label-border);
      background: var(--input-label-bg);
      position: absolute;
      left: 15px;
      top: -10px;
      z-index: 999;
      font-size: 12px;
      font-weight: 600;
    }

    .MuiFormControl-root {
      width: 100%;
      overflow: hidden;
    }

    .cp-input {
      .MuiOutlinedInput-root {
        background: var(--input-template-bg) !important;
        border-radius: 30px;
        padding: 0;
      }

      .MuiOutlinedInput-input {
        border-radius: 30px;
        padding: 14px 30px;
        font-size: 12px;
        font-weight: 600;
        color: var(--input-template-color);
      }
    }
  }

  .cp-btn-div {
    display: flex;
    justify-content: flex-end;
  }
}
