.exch-mob-header-ctn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: var(--mob-header-bg);
  font-size: 12px;
  height: 60px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;

  .exch-mob-nav-link {
    height: inherit;
    text-decoration: none;
    color: unset;

    .exch-nav-item-ctn {
      width: 70px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mh-img {
        height: 24px;
      }
    }
  }

  .mini-casino-btn {
    border-radius: 100px;
    position: fixed;
    bottom: 50px;
    &.d-none {
      display: none;
    }
  }

  .active {
    background: var(--mob-header-active-bg);
    border-top: 4px solid var(--mob-header-border);
    // height: calc(100% - 4px);
    .mh-img {
      color: #00ffff;
    }
    .exch-nav-item-label {
      color: var(--mob-header-active-text);
    }
  }

  .exch-nav-item-label {
    color: var(--mob-header-text);
    font-family: var(--headers-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
  }
}
