.exposure-table {
  .MuiTableCell-root {
    color: #fff;
    .exp-btn {
      background-color: transparent;
      color: #c9c9c9;
      text-decoration: underline;
      text-align: start;
    }
  }
}
