.account-inputs {
  margin-top: 20px;

  .open-txn-btn {
    margin-top: 20px;
  }

  .otp-ctn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: -16px;
    .send-otp-ctn {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: -4px;
      .MuiButton-root:hover.Mui-disabled {
        background: var(--custom-btn-bg-variant-1);
      }
    }
    .otp-timer,
    .error-msg {
      color: red;
      font-size: small;
      margin-top: -4px;
    }
  }

  .amount-and-wallet {
    border: 1px dashed var(--dashed-border);
    border-radius: 20px;
    padding: 8px 0;
  }

  .display-amount {
    display: flex;
    justify-content: center;
    color: white;
    font-size: medium;
    padding: 10px;
  }

  .select-template {
    margin-bottom: -10px;
    display: flex;
    justify-content: left;
    align-items: center;

    .st-label {
      text-wrap: nowrap;
      color: white;
      font-family: var(--headers-font-family);
      font-size: 14px;
      font-weight: 400;
      line-height: 16.2px;
      text-align: center;

      @media screen and (max-width: 720px) {
        font-family: var(--headers-font-family);
        font-size: 12px;
        font-weight: 400;
        line-height: 16.2px;
        text-align: left;
        padding-left: 5px;
      }
    }

    .MuiInputBase-root {
      width: 155px;
      height: 30px;
      border: 1px solid white;
      border-radius: 20px;
      margin: 10px;

      .Mui-disabled {
        color: rgb(161, 157, 157) !important;
      }

      .MuiSelect-root {
        color: #fff;
        font-family: var(--headers-font-family);
        font-size: 12px;
        font-weight: 500;
        line-height: 16.2px;
      }

      .MuiSvgIcon-root {
        color: #fff;
      }
    }

    .MuiInput-underline::before,
    .MuiInput-underline::after {
      border-bottom: 0px;
    }

    .MuiInput-underline:hover {
      border-bottom: 2px solid #fff;
    }

    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: none;
    }
  }
}

.note-msg {
  color: orange;
  font-size: small;
  display: block;
  margin: 0;
  padding: 0;
  line-height: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 16px auto;
}

.limit {
  margin-top: 0px;
}
