.report-header {
  width: 100%;
  background: var(--reports-header-bg-color);
  height: fit-content;
  border-radius: 15px;
  font-family: "Lato";

  .report-img-title {
    display: flex;
    justify-content: space-between;
    height: 32px;
    display: flex;
    align-items: center;
    background: var(--reports-subheader-bg-color);
    border: 1px solid var(--reports-header-border);
    border-radius: 25px;

    .tab-btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .search-games-ctn {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 2px;
        background: var(--ion-color-primary) !important;
        border-radius: 100px;
        .MuiSvgIcon-root {
          position: absolute;
          right: 0px;
          color: #fff;
        }
      }
      .gradient-border {
        background: var(--background-ctn-gradient) !important;
        border: none;
        margin: 1px;
      }
      .search-games-input {
        height: unset;
        border-radius: 40px;
        font-size: 13px;
        padding: 4px 8px;
        color: #fff;
      }

      .tab-btn {
        margin: 10px 5px;
        padding: 5px 15px;
        background: var(--ion-button-color);
        border-radius: 20px;
        text-transform: capitalize;
        width: auto;
      }
    }
  }

  .report-img-div-title {
    display: flex;
    align-items: center;

    .report-img-div {
      background: var(--reports-header-icon-bg-color);
      height: 20px;
      width: 20px;
      margin: 6px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .report-img {
        height: 12px;
        width: 12px;
        filter: var(--reports-header-icon-color);
      }
    }

    .report-title {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      font-family: var(--headers-font-family);
      font-weight: 900;
      margin-left: 5px;

      @media screen and (max-width: 720px) {
        font-size: 12px;
      }
    }
  }

  .report-filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 1120px) {
      flex-direction: column;

      .select-template,
      .date-template {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .select-template {
        .MuiInputBase-root {
          margin: 5px 0px;
        }
      }

      .date-template .MuiFormControl-marginNormal {
        margin: 4px 5px;
      }

      .full-width {
        width: 98%;

        .select-template {
          .MuiInputBase-root {
            width: 100%;
          }
        }

        .date-template {
          .MuiFormControl-root {
            width: 100%;

            .MuiInputBase-root {
              width: 100%;
            }
          }

          .MuiIconButton-root {
            padding: 0px !important;
          }
        }
      }

      .two-filters {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

        .select-template {
          width: 49%;

          .MuiInputBase-root {
            width: 100%;
          }
        }

        .date-template {
          width: 50%;

          .dt-label {
            margin-left: 10px;
            font-family: var(--headers-font-family) !important;
            font-size: 12px;
            font-weight: 400;
            line-height: 16.2px;
            text-align: center;
          }

          .MuiFormControl-root {
            width: 100%;

            .MuiInputBase-root {
              width: 95%;
            }
          }
        }
      }
    }
  }
}

.rh-web-view {
  @media screen and (max-width: 1120px) {
    display: none !important;
  }
}

.rh-mob-view {
  @media screen and (min-width: 1120px) {
    display: none !important;
  }
}
