ion-icon {
  color: #ffff;
}

.sm-new-ctn {
  background: #071123;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  padding-top: 5px;

  .sm-new-text {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 0px;
    font-family: Satoshi;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  .sm-new-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .sm-new-link {
      margin-bottom: 2px;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      .sm-text {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        padding: 5px 5px;
        font-family: Satoshi;
        font-weight: 700;
        letter-spacing: 0.1em;
      }
    }
  }
}
