.odds-terms-condi-ctn {
  height: 520px;
  max-height: 520px;
  padding: 10px 3px 10px 10px;

  .terms-conditions-ctn {
    padding: 10px;
    border-radius: 10px;
    background: var(--background-ctn-gradient);
  }

  .conditions-paragraph-title {
    font-weight: 900;
    color: var(--ion-heading-color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 !important;
    margin-top: 10px !important;
  }

  .conditions-paragraph {
    color: #fff;
    font-size: 13px;
  }

  .sub-header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .note {
    background: var(--ion-button-bg-2);
    color: var(--active-text-color);
    font-size: 13px;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .rules-accordion {
    .MuiPaper-root {
      .MuiAccordionDetails-root {
        display: grid;
      }
    }
  }

  .MuiAccordion-root {
    .MuiAccordionSummary-root {
      background: var(--ion-background) !important;

      .MuiTypography-root {
        color: #fff !important;
        font-family: var(--headers-font-family);
        font-size: 20px;
      }
    }

    .MuiAccordionDetails-root {
      display: grid;
    }
  }
}

@media screen and (max-width: 720px) {
  .odds-terms-condi-ctn {
    padding: 0;
  }
}
