.maintenance-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #071123;
  color: #f2f6ff;
  padding: 10%;
  margin: auto;

  .sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }

  .maintenance-img {
    width: 400px;
  }

  .title {
    font-weight: 700;
    font-size: 56px;
    margin-top: 2.5rem;
  }

  .text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }

  .maintenance-timer {
    margin-top: 36px;
    display: flex;
    gap: 12px;
    align-items: center;

    .text-center {
      text-align: center;
    }

    .time-text {
      font-size: 36px;
    }

    .time-info {
      font-size: 12px;
      opacity: 0.6;
      padding-top: 4px;
    }

    .middle-line {
      height: 20px;
      background: #fff;
      opacity: 0.3;
      width: 1.5px;
    }
  }

  @media screen and (max-width: 920px) {
    // max-width: 90%;
    max-width: 100%;
    padding: 0 8px;
    .title {
      font-size: 24px;
      margin-top: 1rem;
      line-height: 30px;
    }
    .text {
      font-size: 12px;
      margin-top: 8px;
      line-height: 20px;
    }
    .maintenance-img {
      width: 280px;
    }
  }
}
