.fgt-pwd {
  background: var(--ion-background);
  // height: 100vh;
  background: url("../../assets/images/common/loginBG.webp");
  background-color: #26133f !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-size: cover !important;

  @media screen and (min-width: 720px) {
    background: url("./assets/images/common/loginMobBG.webp");
    background-color: #26133f !important;
  }

  .otp-text {
    font-family: var(--headers-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    color: #e0e0e0;
    padding: 10px 24px;

    @media screen and (max-width: 720px) {
      font-size: 12px;
      padding: 5px 15px;
    }
  }

  .disclaimer-ctn-fg {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;

    font-family: General Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 17.56px;
    text-align: center;

    @media screen and (max-width: 720px) {
      margin-bottom: 20px;

      font-family: General Sans;
      font-size: 10px;
      font-weight: 600;
      line-height: 14.63px;
      text-align: center;
    }

    .disclaimer-ctn-text-fg {
      width: 30%;
      color: #ece7f1;

      @media screen and (max-width: 720px) {
        width: 80%;
      }
    }
  }

  .social-media-fp {
    .sm-new-ctn {
      background-color: transparent;
      border: none;
    }
  }

  .title-row {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;

    .logo {
      max-height: var(--logo-xl-height);
      margin-bottom: 10px;
    }
  }

  .form-ctn {
    .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
      color: var(--signup-font-color);
    }

    h1 {
      color: #fff;
      font-family: var(--headers-font-family) !important;
      font-size: 22px;
      font-weight: 700;
      line-height: 43.2px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .MuiStepConnector-alternativeLabel {
      top: 12px;
    }

    .MuiSvgIcon-root {
      color: white;
    }

    background: var(--ion-background-color);
    width: 410px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    border-radius: 16px;
    border: 2px solid var(--form-ctn-border);

    @media screen and (max-width: 720px) {
      margin: 30px auto 10px auto;
    }

    .page-title {
      font-size: 26px;
      color: var(--ion-color-primary);
      text-align: center;
      padding-top: 5px;
    }

    .forgot-pwd-form-ctn {
      padding: 1rem 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 720px) {
        padding: 1rem 15px;
      }

      .select-input {
        display: flex;
        justify-content: normal !important;
        width: 100%;
        gap: 10px;
      }

      .usr-input,
      .code-input,
      .pwd-input {
        display: inline-grid;
        margin-bottom: 10px;

        @media screen and (max-width: 720px) {
          display: flex;
          justify-content: center;
        }

        .MuiFormControl-root {
          margin: 0;
          width: 100%;
        }
      }

      .confirm-btn {
        margin-bottom: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--custom-btn-text-variant-1);
        // border: 1px solid #fff;

        font-family: var(--headers-font-family);
        font-size: 14px;
        font-weight: 700;
        line-height: 21.6px;
        text-align: center;

        border-radius: 100px;
        text-transform: capitalize;

        & {
          background: var(--ion-button-color);

          &:not(.MuiButton-contained.Mui-disabled) {
            font-weight: bold;
            color: var(--custom-btn-text-variant-1);
            background: var(--custom-btn-bg-variant-1);
            // border: 1px solid white;
            text-transform: capitalize;
          }
        }
      }

      .MuiFormControl-root {
        width: 300px;
        font-size: 12px;
        color: #fff !important;

        .MuiFormHelperText-contained {
          color: crimson;
        }

        .MuiSvgIcon-root {
          color: #757575;
        }

        @media (max-width: 350px) {
          width: 200px;
        }
      }

      .MuiInputBase-root {
        font-size: 12px !important;
        color: var(--input-text-color) !important;
        background: #fff !important;
        background-color: #fff !important;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        height: inherit;
      }

      .MuiInputBase-root .MuiInputBase-input,
      .MuiInputBase-root .MuiOutlinedInput-input {
        padding: 16px 7px;
        font-size: 12px !important;
        background-color: #fff;
        color: #000 !important;
        height: 0px;
      }

      .MuiOutlinedInput-adornedEnd {
        background-color: #fff !important;
        padding-right: 0;
      }

      .error-msg {
        color: crimson;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.66;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      .success-msg {
        color: var(--ion-color-success);
        margin-top: 20px;
        text-align: center;
      }

      .usr-input,
      .pwd-input,
      .code-input {
        margin-top: 12px;
        width: 100%;

        @media screen and (max-width: 720px) {
          width: 100%;
        }
      }

      .required {
        color: red;
      }

      .number-field {
        width: 89% !important;
        margin-left: 10%;

        @media screen and (max-width: 720px) {
          width: 120% !important;
          max-width: 120% !important;
        }
      }

      .w-78 {
        width: 78%;
      }

      .number-field,
      .text-field,
      .user-name,
      .pwd-field {
        width: 100%;
        border-radius: 8px;
        height: 44px;
        background-color: #fff !important;
      }

      .msg-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        .msg {
          margin-top: 4px;
          text-align: center;
          color: var(--ion-color-primary);
          font-size: 13px;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }

    .reset-sucess {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;

      .center {
        margin: auto;
      }

      .tick-success {
        width: 100px;
        height: 100px;
      }

      .message {
        margin: 1rem;
        font-weight: 600;
        text-align: center;
        color: var(--ion-color-primary-contrast);
      }
    }
  }

  @media (max-width: 720px) {
    .form-ctn {
      width: 90vw;
      min-height: 65vh;
    }

    .number-field,
    .text-field,
    .user-name,
    .pwd-field,
    .login-form-btn {
      max-width: 100% !important;
    }
  }
}

.option-selection {
  height: 44px;
  // width: 38%;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-family: var(--headers-font-family);
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  width: 28%;
  color: #000;
}

.form-control {
  height: 50px !important;
  width: 100% !important;
}

@media (min-width: 320px) and (max-width: 520px) {
  .form-control {
    max-width: 100% !important;
  }
}

@media (min-width: 350px) and (max-width: 420px) {
  .number-field,
  .text-field,
  .user-name,
  .pwd-field,
  .login-form-btn {
    width: 100% !important;
  }
}

.send-btn {
  width: 50%;
  height: 30px !important;
  margin-left: 50% !important;
  margin-top: -3% !important;
}

.reset-btn {
  margin-bottom: 1% !important;
}

.dont-have-accnt {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--ion-background-color);
  border-radius: 0px 0px 16px 16px;
  border-top: 2px solid var(--form-ctn-border);

  .account-dontHaveAccount {
    color: var(--form-ctn-no-account-text);
    font-family: var(--headers-font-family) !important;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.55px;
    text-align: center;
  }

  .back-to-SignUp {
    margin-left: 5px;
    color: #fff;
    text-decoration: underline;
    font-family: var(--headers-font-family) !important;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.55px;
    text-align: center;
  }
}

.width {
  width: 100%;
  cursor: pointer;
}

.back-icon-fg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  margin-top: 20px;
  cursor: pointer;

  .back-text {
    color: #fff;
    font-family: var(--headers-font-family);
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
  }
}

@media screen and (max-width: 720px) {
  .send-otp {
    width: 50%;
  }
}

.fp-phone-ctn {
  height: inherit;

  .fp-phone-input {
    height: inherit !important;
    border-radius: 10px;
    outline: none;
    border: none;
  }

  .special-label {
    display: none;
  }
}
h3 {
  margin-top: 50px;
  color: #fff;
}
.display-username {
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 50px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  .r-copy-btn-div {
    vertical-align: top;
    background-color: transparent;
    .r-copy-btn {
      filter: var(--copy-button-color);
      height: 32px;
      width: 32px;
      border-radius: 5px;
    }
  }
}
