@import "../src/assets/global_styles/index.scss";
// @import "slick-carousel/slick/slick.css";
// @import "slick-carousel/slick/slick-theme.css";
.router-ctn {
  // background: var(--ion-background-color);

  @media screen and (min-width: 921px) {
    width: 100%;
    height: 100%;
  }

  // background: linear-gradient(to right, #6800a8, #45006f);

  @media screen and (max-width: 920px) {
    height: 100%;
  }
}

.Toastify__toast-container--top-center {
  top: 3em;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dev-tools-msg-modal {
  .modal-content-ctn {
    background: var(--ion-background) !important;
    border: 5px solid var(--ion-color-primary);

    .dev-tools-warning-msg {
      padding: 20px;
      font-size: 24px;
      color: #fff;
    }
  }
}

.notification-icon {
  path {
    fill: var(--ion-card-background-contrast);
  }
}
