.side-header {
  min-width: 220px;
  height: 100vh;
  background-color: white;
  // position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  color: #000000;

  .sh-title {
    height: fit-content;
    max-height: 100%;
    background: var(--ion-background-color);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    .sh-website-title {
      width: fit-content;
      background: transparent;
      height: 48px;

      .sh-website-title-img {
        height: var(--logo-web-height);
      }
    }

    .sh-button-icon {
      border: 1px solid var(--ion-card-background-contrast);
      background-color: transparent;
      border-radius: 50%;
      width: fit-content;
      height: fit-content;
      padding: 2px 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 8px;
      @media screen and (min-width: 920px) {
        display: none;
      }
      .sh-close-icon {
        color: var(--ion-card-background-contrast);
        height: 20px;
        width: 18px;
      }
    }
  }

  .sh-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;

    .sh-username-img {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid var(--section-border);
      margin-left: 16px;

      .short-name {
        height: 36px;
        width: 36px;
        background: var(--ion-background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
      }

      .sh-username {
        padding: 15px 8px;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .sh-sub-menu {
      display: flex;
      flex-direction: column;

      .sh-btn {
        padding: 5px;
        padding-left: 16px;
        display: flex;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
        background-color: white;
        display: flex;
        align-items: center;
        cursor: pointer;

        .sh-img {
          margin-right: 14px;
          height: 23px;
          width: 23px;
          padding: 4px;
          border-radius: 50%;
          background: var(--ion-background-color);

          &.logout-icon path {
            fill: white;
          }
        }

        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .arrow-img {
            margin-right: 12px;
            color: #000;
          }
        }

        .sh-tab-label {
          padding: 5px 0px;
          color: black;
        }
      }

      .active-sh-btn {
        background: var(--ion-color-primary);
        .sh-tab-label {
          color: var(--active-text-color);
        }
      }

      .indv-competition {
        padding: 10px;
        background-color: white;
        opacity: 0.75;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        border-bottom: 1px solid #f1dcfe;
        padding-left: 16px;
        color: #000000;
      }

      .indv-competition-active {
        opacity: 1;
      }

      .sh-sub-title {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
        opacity: 0.5;
        margin-left: 16px;
        margin-top: 20px;
        margin-bottom: 8px;
        letter-spacing: 17%;
        font-size: 10px;
        font-weight: 700;
        line-height: 13.5px;
        letter-spacing: 0.17em;
      }
    }
  }

  .social-media-side-bar {
    flex-shrink: 0;
    padding: 10px 0;
    min-width: inherit;
    display: flex;
    justify-content: center;
    background-color: #ffffff;

    @media screen and (max-width: 920px) {
      width: 100%;
      max-width: 250px;
    }

    .sm-new-ctn {
      width: 100%;
      border-radius: 15px;
      margin: 0 10px;

      .sm-new-text {
        color: rgb(173, 173, 173);
        font-size: 8px;
        letter-spacing: 1px;
      }

      @media screen and (max-width: 920px) {
        margin: 0 8px;
      }
    }
  }
}
